@font-face{
    font-family: Nintendo-DS-BIOS;
    src: url(../fonts/Nintendo-DS-BIOS.ttf);
}

/* @media screen and (min-width: 1024px) {

    .header{
        height: 60px;
        max-height: 60px;
    }

    .borde-pantalla{
        height: 350px;
        width: 500px;
    }
    .pantalla{
        height: 250px;
        width: 450px;
    }
} */

.header{
    overflow: hidden;
    height: 60px;
    max-height: 60px;
    width: 100vw;
    background-color:#8a1528;
    position: relative;
    border-bottom: 2px solid black;
    z-index: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

body{
    margin: 0;
    line-height: 0
}

.header1{
    position: absolute;
    z-index: 1;
    width: 50vw;
    border-radius:0px 0px 50px 0px;
    background-color: #8a1528;
    border-bottom: 3px solid black;
    border-left: 2px solid black;
    left: 0;
    top: 0;
    display: flex;
    max-height: 120px;
}

.bola{
    padding-top: 1em;
    padding-left: 2em;
    max-height: 110px;
}

.punto{
    align-self: flex-start;
    padding-top: 1em;
    padding-left: 1em;
    height: 2em;
}

.principal{
    background-color: #8a1528;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 600px;
    max-height: 600px;
}

.borde-pantalla{
    height: 350px;
    width: 500px;
    background-color: #DEDEDE;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px 15px 15px 25px;
}

.pantalla{
    border: 2px solid black;
    font-family: Nintendo-DS-BIOS;
    font-size: 30px;
    font-weight: bold;
    height: 250px;
    width: 450px;
    background-color: black;
}

.pokemons{
    display: grid;
    overflow: scroll;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.pkmn-name::first-letter{
    text-transform: uppercase;
}

.punto-borde{
    height: 20px;
    align-self: auto;
    
}

.puntos-container{
    width: 100%;
}

.pad{
    display: flex;
    background-color: #8a1528;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 60px;
    max-height: 60px;
}

.button{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50px;
}

.red-button{
    height: 25px;
    width: 50px;
    background-color: red;
    border: 2px solid black;
    border-radius: 20px;
}

.black-button{
    height: 25px;
    width: 50px;
    background-color: black;
    border: 2px solid black;
    border-radius: 20px;
}

.crucetacontainer{
    display: grid;
    grid-template-columns: auto auto auto;
}

.cruceta{
    width: 20px;
    height: 20px;
    background-color: black;
}
.arriba{
    grid-column-start: 2;
    grid-column-end: 3;
}
.izquierda{
    grid-column-start: 1;
    grid-column-end: 2;
}
.derecha{
    grid-column-start: 3;
    grid-column-end: 4;
}
.abajo{
    grid-column-start: 2;
    grid-column-end: 3;
}

input{
    width: 200px;
    height: 25px;
    margin-right: 50px;
}

.pokemon{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 40px auto;
    overflow: visible;
    justify-content: center;
    color: white;
    text-shadow: 1px 2px 1px #000;
}

.pkmnContainer{
    display: block;
    width: 180px;
    text-align: center;
}

.pkmnContainer div{
    width: 160px;
    height: 30px;  
    letter-spacing: 1px;
    border-radius: 5px;
    margin: 5px auto;
    text-align: start;
    line-height: 1;
}

.pkmnContainer  .pkmn-name{
    background-color: #FFCF51; 
    color: white; 
    text-transform: uppercase; 
}

.pkmnContainer  .itemContainer{
    background-color: #FFCF51;  
    color: white;
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pkmnContainer .whiteSeparator{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: white;
    width: 160px;
    height: 27px;
    margin: 0 auto;
    color: black;
    text-align: start;
}

.infoContainer {
    background-color: transparent;
    width: 250px;
    height: 200px;
    display: block;
    margin: 0;
    border-radius: 5px;
}

.infoContainer p{
    margin: 0;
    display: flex;
    overflow-y: hidden;
}

.infoContainer ul{
    height: 25px;
}

.infoContainer li{
    height: 25px;
    width: 20px;
    text-align: center;
}
.infoContainer a{
    height: 25px;
    font-size: 14px;
    padding: 0;
}

.infoContainer div{
    height: 175px;
    box-shadow: 0px 0px 0px 1px #000000;
}

.pkmnHeader{
    align-items: center;
    grid-column: 1/3;
    background-color: #216BE6;
    display: flex;
}

.infoContainer ::-webkit-scrollbar {
    width: 7px;
}
 
.infoContainer ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.infoContainer ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

@media screen and (max-width: 1023px) {
    .principal{
      height: 2000px;
      max-height: 2000px;
    }

    .borde-pantalla{
        height: 1500px;
        width: 800px;
    }

    .pantalla{
        height: 1351px;
        width: 650px;
    }
}